<!DOCTYPE html>
<html>
<head>
    <title>Tabella Version Six</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body role="document">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container theme-showcase" role="main">
    <form action="#" data-th-action="@{/ballot/save}" data-th-object="${ballotDTO}" method="post">
        Question: <input id="question" name="question" type="text" /><br/>
        Answer 1: <input id="answer1" name="answers" type="text" /><br/>
        Answer 2: <input id="answer2" name="answers" type="text" /><br/>
        Answer 3: <input id="answer3" name="answers" type="text" /><br/>
        Answer 4: <input id="answer4" name="answers" type="text" /><br/>
        Answer 5: <input id="answer5" name="answers" type="text" /><br/>
        Answer 6: <input id="answer6" name="answers" type="text" /><br/>
        Answer 7: <input id="answer7" name="answers" type="text" /><br/>
        Answer 8: <input id="answer8" name="answers" type="text" /><br/>
        Answer 9: <input id="answer9" name="answers" type="text" /><br/>
        <button type="submit" >Create</button>
    </form>

</div>

</body>

</html>
