<!DOCTYPE html>
<html>
<head>
    <title>Tabella Version Six</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body role="document">

    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Tabella Example Six</h1>
            <p>This is a show case system that shows the pages that could be deployed for the Tabella system</p>
            <p>This is implemented using spring boot</p>
            <a href="home" role="button" class="btn btn-lg btn-primary">Try Tabella</a>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>
