<!DOCTYPE html>
<html>
<head>
    <title>Tabella Version Seven</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body role="document">

    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Tabella Example Seven</h1>
            <p>This is a show case system that shows the pages that could be deployed for the Tabella system</p>
            <p>This is implemented using spring boot and uses security</p>
            <a href="home" role="button" class="btn btn-lg btn-primary">Try Tabella</a>
        </div>
    </div>

    <!--/*/ <th:block th:include="fragments/footerinc :: footer"></th:block> /*/-->
</body>

</html>
